@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.App {
	text-align: center;
	width: 100vw;
	height: 100dvh;
	background-color: #1e1e1e;
}

.App *:not(.mantine *),
.App *::before,
.App *::after {
	box-sizing: content-box;
}

.react-flow__controls,
.react-flow__controls-button {
	background-color: #181818 !important;
	color: #6e6e6e !important;
}

.react-flow__controls-button {
	border: 1px solid #6e6e6e !important;
}

.react-flow__controls-button svg path {
	fill: #6e6e6e !important;
}

a {
	text-decoration: none;
	color: "#FFDD55" !important;
}

a:visited {
	text-decoration: none;
	color: "#FFDD55" !important;
}

.react-flow__attribution {
	display: none;
}

.colorType-wrapper {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);

	background-color: #1e1e1e;
	padding: 2px;
	border-radius: 5px;
	width: auto;
	height: auto;
	z-index: 20;
	font-family: "Inter", sans-serif;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: clamp(15px, 4vw, 60px);
	text-decoration: none !important;
}

.colorType-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: clamp(5px, 1vw, 10px);
	cursor: pointer;
}

.colorCircle {
	width: clamp(10px, 1vw, 15px);
	height: clamp(10px, 1vw, 15px);
	border-radius: 50%;
}

.colorType {
	font-size: clamp(0.8rem, 1.5vw, 1rem);
	white-space: nowrap;
}

.label-wrapper {
	position: absolute;
	top: 60px;
	width: 100vw;
	z-index: 11;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #aaa;
	font-family: "Inter", sans-serif;
}

.select-wrapper {
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 20;

	display: flex;
	gap: 10px;
}

.preview-wrapper {
	position: fixed;
	top: 10px;
	left: 15px;
	z-index: 20;
}

@media (max-width: 768px) {
	.label-wrapper {
		top: 40px;
		width: calc(100vw - 40px);
		padding: 0 20px;
	}

	.select-wrapper {
		width: 100%;
		position: relative;
		top: 0;
		left: 0;
		justify-content: center;
	}
}
